<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <script src="../../static/js/jquery-1.11.0.min.js"></script>
    <script src="../../static/js/bootstrap.js"></script>
    <script src="../../static/js/main_page.js"></script>
</head>
<body>

    <div class="container">
    <div class="row" style="margin-top : 50px">
        <div class="col-md-10 col-ma-offset-2">
            <div class="table-responsiverespontive">
                <table class="table table-striped table-bordered" >
                    <thead>
                    <tr>
                        <th>书名</th>
                        <th>介绍</th>
                        <th>收录单词总数</th>
                        <th>选择从第 a 页开始到 b 页</th>

                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>

</html>