<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/word_main.css">
    <script src="../../static/js/jquery-1.11.0.min.js"></script>
    <script src="../../static/js/word_main.js"></script>
   <style>

   </style>
</head>
<body>
<div>

{#    {{ word }}#}
    <h1>在这里背单词 </h1>



        <p id="danci">单词：</p>
        <div id="div_first">
            <div id="div1" class="option">
                <input id="ipu1" class="btn1" type="radio" name="gender" value="boy" /><label class="btn1" for="contactChoice3"></label> <br>
            </div>
        <br>
            <div id="div2" class="option">
                <input id="ipu2" type="radio" name="gender" value="boy" /><label class="btn1" for="contactChoice3"></label> <br>
            </div>
        <br>
            <div id="div3" class="option">
                    <input id="ipu3" type="radio" name="gender" value="boy" /><label for="contactChoice3"></label><br>
            </div>
        <br>
            <div id="div4" class="option">
                <input id="ipu4" type="radio" name="gender"  value="boy" /><label class="btn1" for="contactChoice3"></label> <br>
            </div>
            <div>
                 <input  id="endbtn" type="button" >
            </div>
            <div>
                <input  id="btnnext" type="button" value="next">
            </div>

        </div>

        <div class="record">
            <div style="width: 1000px;height: 100px;background: #fff"; >
                <div class="wrong_litter"></div>
            </div>

             <!-- <div class="record_son">
                <div class="litter right">1 </div>
                <div class="litter wrong">2</div>
                <div class="litter not">3</div>
                <div class="litter not">4</div>
                <div class="litter not">5</div>

            </div>
            
             
             -->
           
            

        
                
        </div>




</div>
</body>
<script>

</script>
</html>